snippet env
\begin{$1}
	$0
\end{$1}
endsnippet

snippet cmd
\\$1{$2}
endsnippet

snippet figure
\begin{figure}[h]
	\center
	\includegraphics[width=${1:\textwidth}]{$2}
	\caption{$3}
	\label{$4}
\end{figure}
endsnippet
